body{
    margin: 0px;
    padding: 0px;
    font-family:'Open Sans';
}
#toolbar{
    width:100%;
    height: 60px;
    background-color:#393B3D;
    margin: 0px;
    padding: 0px;
}

ul{
    text-align:right;
}

li{
    text-decoration:none;
    list-style:none;
    float:left;
}

li > a{
    color:white;
}

li a{
    display: inline;
    float:left;
    margin-right:30px;
    text-decoration: none;
}

.txtBus{
    float:right;
    border-radius:7px;
    border-color:white;
}

.txtbuscar{
    margin-left:500px;
    height:60px;
    text-align:center;
    font-size:30px;   
}


.imgbuscar{
    width:64px;
    height:52px;
}

.btnbusavan{
    border-radius:7px;
    color:black;
    width: 300px;
    height: 50px;
    margin-left:830px;
    background-color:white;
    border-color:black;
}

#divtabla{

}

.txtcontent{
    background-color:red;
    width: 100%;
}